@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	font-family: UTM Avo;
	overflow: hidden;
	width: 100%;
}
.container1 {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-color: antiquewhite;
	scroll-behavior: smooth;
	overflow-y: scroll;
	-webkit-scroll-behavior: smooth;
	-webkit-overflow-y: scroll;
	-o-scroll-behavior: smooth;
	-o-overflow-y: scroll;
}
.avatar {
	position: absolute;
	bottom: 150px;
	left: 450px;
	transform: translate(-50%, -50%);
}
.Content {
	width: 1920px;
	height: 900px;
	background-color: #7260A6;
	display: flex;
	justify-content: center;
	font-size: 50px;
	align-items: center;
}
.logo {
	width: 30%;
	height: 90px;
	background-color: #F8DD55;
	float: left;
}
.lg {
	position: absolute;
	padding: 25px 130px;
	font-family: UTM Avo;
	color: #A44D0F;
	float: right;
}
.menu {
	width: 70%;
	height: 90px;
	background-color: #F8DD55;
	font-size: 20px;
	font-weight: bold;
	float: right;
}
ul {
	list-style: none;
}
ul li {
	float: left;
	padding: 22px 50px;
	margin: 0 auto;
}
ul li a {
	text-decoration: none;
}
ul li:hover {
	border-bottom: 8px #A44D0F solid;
}
.header {
	background: #59CB43;
	position: fixed;
	z-index: 1;
	width: 100%;
}
.sticky {
	top: 0px;
	width: 100%;
}
.banner {
	width: 100%;
	height: 900px;
	background-color: #A44D0F;
	margin: 0px;
	position: relative;
	z-index: 0;
}
.overlay-content {
	position: relative;
	text-align: center;
	margin-top: 10px;
}
.about h1 {
	padding: 100px;
	text-align: left;
	font-weight: bold;
	line-height: 40px;
	left: 200%;
	color: #A44D0F;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
}
.title {
	position: absolute;
	padding: 30px 50px;
	width: 724.5px;
	height: 116.39px;
	left: 700px;
	bottom: 500px;
	font-family: UTM Avo;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	color: #A44D0F;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
}
.title2 {
	position: absolute;
	padding: 30px 50px;
	width: 724.5px;
	height: 116.39px;
	left: 700px;
	bottom: 400px;
	font-family: UTM Avo;
	color: #000000;
}
.title3 {
	position: relative;
	bottom: 330px;
	left: 750px;
	font-family: UTM Avo;
	font-weight: bold;
	font-size: 40px;
	color: #A44D0F;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
	white-space: nowrap;
}
.title4 {
	position: relative;
	bottom: 800px;
	left: 800px;
	font-family: UTM Avo;
	font-weight: bold;
	font-size: 40px;
	color: #A44D0F;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
}
.title5 {
	position: relative;
	bottom: 300px;
	left: -15px;
	font-family: UTM Avo;
	font-weight: bold;
	color: #A44D0F;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
}
.title6 {
	position: relative;
	bottom: 170px;
	left: -200px;
	font-family: UTM Avo;
	font-weight: bold;
	color: #A44D0F;
	white-space: nowrap;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
}
.img1 {
	position: relative;
	left: 300px;
	top: 250px;
}
.skiltitl {
	position: relative;
	font-family: UTM Avo;
	font-weight: bold;
	color: #A44D0F;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
	left: 300px;
	top: 250px;
}
.skildesc1 {
	position: absolute;
	text-align: left;
	left: 300px;
	top: 380px;
}
.img2 {
	position: relative;
	left: 600px;
	top: 125px;
}
.skiltitl2 {
	position: relative;
	font-family: UTM Avo;
	font-weight: bold;
	color: #A44D0F;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
	left: 600px;
	top: 121px;
}
.skildesc2 {
	position: absolute;
	text-align: left;
	left: 600px;
	top: 380px;
}
.img3 {
	position: relative;
	left: 900px;
	top: -8px;
}
.skiltitl3 {
	position: relative;
	font-family: UTM Avo;
	font-weight: bold;
	color: #A44D0F;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
	left: 905px;
	top: -10px;
}
.skildesc3 {
	position: absolute;
	text-align: left;
	left: 905px;
	top: 380px;
}
.img4 {
	position: relative;
	left: 1200px;
	top: -150px;
}
.skiltitl4 {
	position: relative;
	font-family: UTM Avo;
	font-weight: bold;
	color: #A44D0F;
	text-shadow: 0px 5px 4px rgba(164, 77, 15, 0.25);
	left: 1205px;
	top: -150px;
}
.skildesc4 {
	position: absolute;
	text-align: left;
	left: 1205px;
	top: 380px;
}
.pjmg {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	align-self: center;
}
.pjtem {
	width: 100%;
	height: 401px;
	margin: 0px 20px 0px -200px;
	overflow: hidden;
}
.context {
	position: relative;
	bottom: 30px;
	left: -400px;
}
.blitem {
	width: 578px;
	height: 256px;
	background-color: #CCCCCC;
	float: right;
	align-content: center;
	margin: 10px 10px;
	display: block;
}
.blitem img {
	opacity: 2;
	transition: all 0.3s ease;
}
.blitem:hover img {
	opacity: -1;
	position: relative;
}
.blitem:hover overlay {
	height: 100%;
}
.blocko4 {
	position: absolute;
	top: 2920px;
}
.contact {
	position: absolute;
	left: 900px;
	bottom: -3300px;
}
.form-style-6 {
	font: 20px UTM Avo, bold;
	max-width: 600px;
	margin: 5px auto;
	padding: 10px;
	background: #FFFAE1;
	font-weight: 500px;
}
.form-style-6 input[type="text"], .form-style-6 input[type="date"], .form-style-6 input[type="datetime"], .form-style-6 input[type="email"], .form-style-6 input[type="number"], .form-style-6 input[type="search"], .form-style-6 input[type="time"], .form-style-6 input[type="url"], .form-style-6 textarea, .form-style-6 select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 2%;
	border: 1px solid #ccc;
	padding: 2.5%;
	color: #555;
	font: 20px UTM Avo;
}
.form-style-6 input[type="text"]:focus, .form-style-6 input[type="date"]:focus, .form-style-6 input[type="datetime"]:focus, .form-style-6 input[type="email"]:focus, .form-style-6 input[type="number"]:focus, .form-style-6 input[type="search"]:focus, .form-style-6 input[type="time"]:focus, .form-style-6 input[type="url"]:focus, .form-style-6 textarea:focus, .form-style-6 select:focus {
	box-shadow: 0 0 5px #A44D0F;
	padding: 3%;
	border: 1px solid #A44D0F;
}
.form-style-6 input[type="submit"], .form-style-6 input[type="button"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #A44D0F;
	border-bottom: 2px solid #F8DD55;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.form-style-6 input[type="submit"]:hover, .form-style-6 input[type="button"]:hover {
	background: #F8DD55;
}

@media only screen and (max-width: 600px) {
body {
	background-color: #BDBDBD;
}
}
footer {
	height: 100px;
	text-align: center;
	font-size: 15px;
	padding: 30px;
	background-color: #F8DD55;
	color: #A44D0F;
}
